<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
</head>
<body>
    
    <div id="main_content_zone">
        <h2>Resulting tree page</h2>
        <pre><%- tree %> </pre>
    </div>

</body>
</html>